{
  "projectId": "<fill in>",
  "scriptId": "<fill in>",
  "rootDir": "src",
  "filePushOrder": [
    "src/Time.js",
    "src/Text.js",
    "src/Range.js",
    "src/Product.js",
    "src/Code.js",
    "src/Test.js"
  ]
}
